.header {
  position: absolute;
  width: 100%;
  height: 4.688rem;
  left: 0px;
  top: 0px;
  background: #3F3F3F;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 2.344rem;
  left: 0px;
  top: 38.721rem;
  background: #000000;
}

.body {
  max-height: 100vh;
}